extends layout

block content
  body
    a(href='https://github.com/salmangadit')
      img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', alt='Fork me on GitHub')
    header#header.site-header
      .container
        .row-fluid
          .span12
            h1.site-title.pull-left
              a(href='#')
                i.icon-cloud
                | Haze
        .row-fluid
          .span12
            .site-description
              h2 Haze
              p
                | Better to be safe than sorry. Use Haze to decide if you need to use a mask before leaving for the smokey outdoors.
    section#details.details
      .container
        .row-fluid
          .span6
            .detail
              .clearfix
                i.icon-globe.icon-2x.pull-left
                h4 Current PSI Value
                p
                  | Get the latest PSI value of the air before stepping out. Haze will also tell you the level of danger of the air outside as per NEA regulations.
                i.icon-beaker.icon-2x.pull-left
                h4 Graphical View
                p
                  | View a graphical version of the last ten hours worth of PSI variations.
              .clearfix
                i.icon-desktop.icon-2x.pull-left
                h4 Haze-stagram
                p
                  | See what is being posted on Social Media about the Singapore Haze on #hazesg.
              .clearfix
                i.icon-trophy.icon-2x.pull-left
                h4 Notifications (BETA)
                p
                  | Receive notifications if Haze PSI values reach dangerous levels.
          .span6
            h2.pagination-centered Download
            p
            | Download android APK on your Android phone or tablet and install it. Will be available on Google Play Store soon.
            .clearfix.purchase-button
              a.cog-button(href='/download-android')
                i.icon-tablet
                | Download Android APK
            .clearfix.purchase-button
              a.cog-button(href='')
                i.icon-tablet
                | Coming soon for iPhone

    section#contact.contact
      .container
        .row-fluid
          h2 Feedback
          p
            | I'd love to hear from you. Comments, suggestions, ideas for more features are all appreciated. This idea was conceptualised and implemented within a space of 24 hours so a lot of tweaks are in place! 
            br
            | Haze is an open source project. Grab the server-side code at https://github.com/salmangadit/psi and the code for the Android app at https://github.com/salmangadit/psi-android.
          a(href='salman.gadit@gmail.com') salman.gadit@gmail.com
          ul.unstyled.inline.social
            li
              a(href='http://twitter.com/SalGad')
                i.icon-twitter
            li
              a(href='https://github.com/salmangadit')
                i.icon-github-alt
            li
              a(href='http://www.linkedin.com/profile/view?id=125767224')
                i.icon-linkedin
            li
              a(href='http://www.salmangadit.me')
                i.icon-cloud
    //
       Le javascript
    //
       Placed at the end of the document so the pages load faster 
    script(src='js/jquery.js')
    script(src='js/bootstrap.min.js')
    script(src='js/jquery.scrollTo.js')
    script(src='js/jquery.nav.js')
    script(src='js/script.js')
    script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41946040-1', 'hidden-ocean-3278.herokuapp.com');
      ga('send', 'pageview');